<!DOCTYPE html>
<html lang="en-US">
  <head>
            <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
  </head>
<script src="app.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>

<style>

    .heading{
        background-color: #0073b1;
        color: azure;
        margin-bottom: 0px !important;
    }

    .heading2{
        background-color: #000000;
        color: azure;
        height: 4em;
    }

    .fa-trash 
    {
        color: azure;
    }
    .fa-edit
    {
        color: azure;
    }
    .form-inline
    {
        align-content: center;
    }
    .btn-outline-primary:hover 
    {
        background-color: #0073b1;
    }

    
    .btn-primary:hover 
    {
        background-color: #0073b1;
    }
    
    .btn-primary
    {
        color: #0073b1;
        background-color:azure;
    }

    body.modal-open .background-container{
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

    .modal-title{
        align-content: center;
    }
    #myModalLabel{
        align-content: center;
    }
    .modal-header{
        align-content: center;
    }
    /* #typelist
    {
      width:auto;
      align-content: center;
    } */
    .menu
    {
      width: 100%;
      overflow: auto
    }

    .menu div
    { 
      float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 25%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */

    }
    .menudata
    {
      height: 100%;
    }

    .menu a
    {
      height:100%;
    }
    .form-inline
    {
      width: 100%;
    }
    .menudata a
    {
      text-decoration: none;
      color: white;
      width:100%;
      height:100%;
    }
    .menudata2
    {
      background-color: 005391;
      width:100%;
      height:100%;
    }
    .menudata a:hover
    {
      color: 0073b1;
    }

    .menudata:hover
    {
      color: 0073b1;
      background-color: white;
    }
    .active
    {
      background-color: 0073b1;
      color: white;
    }


    .input2 .form-control
    {
      width:18.5% !important;
      height:30% !important;
    } 

    .input2 .btn-lg
    {
      width: 5.3% !important;
      height: 30% !important;
    }
    .xyz1
{
    background-color: fafafa !important;
    border:none;
    width:30% !important;
    text-align: center;
}

.modal-dialog2
{ 
  width:auto;
  margin:auto;
}

 

/* .input2 .form-control
{
  width:16.43%;
} */
.input2
{
  width: 100%;
  height: 100%;
}

.heading h1,h5
{
  
  display: inline;
}
.heading h5
{
  margin-left:0%;
}

</style>

<body >



<div class="container">
<div ng-app="testApp" ng-controller="tollControl">

    
    <div class="heading"><center><h1><strong >ANPR System Admin Control Panel<h5>Username - {{loggedinas}}</h5></strong></h1></center>
      <div class="heading2">
        <div class="menu">
          <a href="#!/user" >
            <div class="menudata"  >


                <center ><h4 >Home</h4></center>
            
            

              
            </div>
          </a>
          
          <a  href="#!/tollbooth">
            <div class="menudata2" >

              <center><h4 >Toll Booth</h4></center>
            </div>
          </a>
          <a  data-toggle="modal" data-target="#typelist" >
            <div class="menudata"  >
  
  
                <center ><h4 >Type List</h4></center>
            
            
  
              
            </div>
          </a>
          <a ng-Click="del()">
            <div class="menudata" >

              <center><h4 >Logout</h4></center>
            </div>
          </a>
          
          <!-- <div class="menudata">
            <center><h4 >Add Data</h4></center>
          </div>
          <div class="menudata">
            <center><h4>Register</h4></center>
          </div>
          <div class="menudata">
            <center><h4>Logout</h4></center>
          </div> -->

        </div>
        
      </div>
    </div>
<br>

<div class="heading2">
    <div class="menu">
      <a  data-toggle="modal" data-target="#addtolldatamodal" >
        <div class="menudata" >

          <center><h4 >Add Toll Booth</h4></center>
        </div>
      </a>

      
      <a  data-toggle="modal" data-target="#addexception" >
        <div class="menudata"  >


            <center ><h4 >Exceptions</h4></center>

          
        </div>
      </a>
      

      <a data-toggle="modal" data-target="#showexception" ng-Click="getExceptData()">
        <div class="menudata">

          <center><h4 >Show Exceptions</h4></center>
        </div>
      </a>
      <a ng-Click="refresh()">
        <div class="menudata" >

          <center><h4 >Refresh</h4></center>
        </div>
      </a>
      
      <!-- <div class="menudata">
        <center><h4 >Add Data</h4></center>
      </div>
      <div class="menudata">
        <center><h4>Register</h4></center>
      </div>
      <div class="menudata">
        <center><h4>Logout</h4></center>
      </div> -->

    </div>
    
  </div>

<br>

<form name="form" class="form-inline" >

    <div class="input2">
      <input type="Code"  class="form-control" id="id" placeholder="Search By Number" name="id" ng-model="search.code" />
       <button type="submit" class="btn btn-primary btn-lg"  ng-Click="refresh()"><i class="fas fa-refresh"></i></button> 
      

    </div>
   
  </form>

<table class="table table-dark table-hover">
    <!-- <tr>
      <td><input type="text"  class="form-control" id="id" placeholder="Search By Number" name="id" ng-model="searchid" ></td>
      <td><input type="text"  class="form-control" id="id" placeholder="Search By Name" name="name" ng-model="searchname" ></td>
      <td><input type="text"  class="form-control" id="id" placeholder="Search By License" name="license" ng-model="searchlicense" ></td>
      <td><input type="number"  class="form-control" id="id" placeholder="Search By Mobile" name="mobile" ng-model="searchmobile" ></td>
      <td><input type="number"  class="form-control" id="id" placeholder="Search By Toll" name="toll" ng-model="searchtoll"></td>
      <td><button type="button" class="btn btn-primary " data-toggle="modal" data-target="#myModal" ng-Click="reset()">Add Data</button></td>
      <td><button type="submit" class="btn btn-primary "  ng-Click="refresh()"><i class="fas fa-refresh"></i></button> 
      </td>
    </tr> -->
      <tr>
          <td><strong>Code</strong></td>
          <td><strong>Type1</strong></td>
          <td><strong>Type2</strong></td>
          <td><strong>Type3</strong></td>
          <td><strong>Type4</strong></td>
          <td><strong>Type5</strong></td>
          <td><strong>Type6</strong></td>
          <td><strong>Edit</strong></td>
          <td><strong>Delete</strong></td>
      </tr>
      <tr ng-repeat="row in datax | filter:search">
          <td>{{row.code}}</td>
          <td>{{row.type1}}</td>          
          <td>{{row.type2}}</td>
          <td>{{row.type3}}</td>
          <td>{{row.type4}}</td>          
          <td>{{row.type5}}</td>
          <td>{{row.type6}}</td>



          
        <td> <button type="submit" class="btn btn-default"  ng-Click="editinit(row.code,row.type1,row.type2,row.type3,row.type4,row.type5,row.type6)" data-toggle="modal" data-target="#myModal"><i class="fas fa-edit"></i></button>


           

            <td>
                <button type="submit" class="btn btn-default" data-toggle="modal" data-target="#deleteConfirmation" ng-Click="initiateDelete(row.code)" ><i class="fas fa-trash"></i></button>
  
            </td>
      </tr>
  </table class="table table-dark table-hover">







  <div class="modal fade" id="showexception" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel" >Toll Exception List</h4>
      
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-Click="reset()"><span aria-hidden="true">×</span></button>
            </div>
        <div class="modal-body">
            <form name="form" class="form-inline" >
            
              <div class="input2">
                Search By :
                <input type="text"  class="form-control" id="id" placeholder="Code" name="id" ng-model="search3.code" />
                <input type="text"  class="form-control" id="id" placeholder="Number Plate" name="name" ng-model="search3.exception" />
              </div>
             
            </form>
          <table class="table table-dark table-hover">
            <tr>
              <td> <strong>Code</strong> </td>
              <td> <strong>Number Plate</strong> </td> 
            </tr>
            <tr ng-repeat="row in exeptdata | filter:search3">
              <td>{{row.code}}</td>
              <td>{{row.exception}}</td>
          </tr>    
           
          </table>
          </div>
      
          <br>

        </div>

      </div>
    </div>
  </div>




  
  <div class="modal fade" id="addexception" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel" >Add Toll Booth Exception</h4>
      
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
        <div class="modal-body">

         
<form name="form" class="form" >
    <div class="form-group">
        <label for="name">Code   :</label>
        <input type="number" ng-readonly="idReadOnly" ng-keyup="validatecode()"  class="form-control" id="id" placeholder="Enter Number Plate" name="id" ng-model="id" >
  
      </div>
    <div class="form-group">
      <label for="name">Number Plate Code:</label>
      <input type="text" class="form-control" id="type1" placeholder="Number Plate Code"  ng-keyup="validnumcode()" name="clas" ng-model="numcode" >
    </div><br>
    
    <button type="submit" class="btn btn-outline-primary"  data-dismiss="modal" ng-Click="addtollexception()" ng-disabled="!invalidcode || !canadd">Add</button>
    
    <button type="submit" class="btn btn-outline-primary"  data-dismiss="modal" ng-Click="deletetollexception()" ng-disabled="!invalidcode || !candelete">Delete</button>
    
    <br>




    <span ng-show="!invalidcode">
        The entered toll code is not valid<br></span>


    <span ng-show="!canadd && invalidcode && candelete">
        You can only Delete the Number plate <br></span>
        
    <span ng-show="!candelete && invalidcode && canadd">
        You can only Add the Number plate<br></span>
</form>
        </div>
      </div>
    </div>
  </div>






  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel" >Edit Toll Booth Data</h4>
      
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
        <div class="modal-body">

         
<form name="form" class="form" >
    <div class="form-group">
      <label for="name">Code   :</label>
      <input type="text" ng-readonly="idReadOnly" disabled ng-keyup="validateId()"  class="form-control" id="id" placeholder="Enter Toll Code" name="id" ng-model="ide" >

    </div>
<br>


    <br>
    <div class="form-group">
      <label for="name">Toll Type1:</label>
      <input type="number" class="form-control" id="type1" placeholder="Type 1 Toll"  ng-keyup="validateToll1()" name="clas" ng-model="typee1" >
    </div><br>
    
    <div class="form-group">
        <label for="name">Toll Type2:</label>
        <input type="number" class="form-control" id="type2" placeholder="Type 2 Toll"  ng-keyup="validateToll1()" name="clas" ng-model="typee2" >
      </div><br>
      
    <div class="form-group">
        <label for="name">Toll Type3:</label>
        <input type="number" class="form-control" id="type3" placeholder="Type 3 Toll"  ng-keyup="validateToll1()" name="clas" ng-model="typee3" >
      </div><br>
      
    <div class="form-group">
        <label for="name">Toll Type4:</label>
        <input type="number" class="form-control" id="type4" placeholder="Type 4 Toll" ng-keyup="validateToll1()" name="clas" ng-model="typee4" >
      </div><br>
      
    <div class="form-group">
        <label for="name">Toll Type5:</label>
        <input type="number" class="form-control" id="type5" placeholder="Type 5 Toll"  ng-keyup="validateToll1()" name="clas" ng-model="typee5" >
      </div><br>
      
    <div class="form-group">
        <label for="name">Toll Type6:</label>
        <input type="number" class="form-control" id="type6" placeholder="Type 6 Toll"  ng-keyup="validateToll1()" name="clas" ng-model="typee6" >
      </div><br>
    <br>
    <button type="submit" class="btn btn-outline-primary"  data-dismiss="modal" ng-Click="edit()" ng-disabled="invalidtoll">Update</button>
    
    <button type="submit" class="btn btn-outline-primary" ng-Click="reset()" >Reset</button>
   

    <br>




    <span ng-show="invalidtoll">
        The value of toll must not be negative!<br></span>

</form>
        </div>
      </div>
    </div>
  </div>






  
  <div class="modal fade" id="edttolldatamodal" tabindex="-1" role="dialog" aria-labelledby="Add" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel" >Edit Toll Booth Data</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
        <div class="modal-body">

         
<form name="form" class="form" >
    <div class="form-group">
      <label for="name">Code   :</label>
      <input type="number" ng-readonly="idReadOnly" ng-keyup="validatecode()"  class="form-control" id="id" placeholder="Enter Toll Code" name="id" ng-model="ide" >

    </div>

<div class="form-group">
  <label for="name">Toll Type1:</label>
  <input type="number" class="form-control" id="type1" placeholder="Type 1 Toll"  ng-keyup="validateToll1()" name="clas" ng-model="typee1" >
</div>

<div class="form-group">
    <label for="name">Toll Type2:</label>
    <input type="number" class="form-control" id="type2" placeholder="Type 2 Toll"  ng-keyup="validateToll1()" name="clas" ng-model="typee2" >
  </div>
  
<div class="form-group">
    <label for="name">Toll Type3:</label>
    <input type="number" class="form-control" id="type3" placeholder="Type 3 Toll"  ng-keyup="validateToll1()" name="clas" ng-model="typee3" >
  </div>
  
<div class="form-group">
    <label for="name">Toll Type4:</label>
    <input type="number" class="form-control" id="type4" placeholder="Type 4 Toll" ng-keyup="validateToll1()" name="clas" ng-model="typee4" >
  </div>
  
<div class="form-group">
    <label for="name">Toll Type5:</label>
    <input type="number" class="form-control" id="type5" placeholder="Type 5 Toll"  ng-keyup="validateToll1()" name="clas" ng-model="typee5" >
  </div>
  
<div class="form-group">
    <label for="name">Toll Type6:</label>
    <input type="number" class="form-control" id="type6" placeholder="Type 6 Toll"  ng-keyup="validateToll1()" name="clas" ng-model="typee6" >
  </div>




<span ng-show="invalidtoll">
    The value of toll must not be negative!<br></span>

    <button type="submit" class="btn btn-outline-primary"  data-dismiss="modal" ng-Click="addtolldata()" ng-disabled="invalidtoll">Edit</button>
    
    <button type="submit" class="btn btn-outline-primary" ng-Click="reset()" >Reset</button>
   



    
</form>
        </div>
      </div>
    </div>
  </div>




  <div class="modal fade" id="typelist" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel" >Type List</h4>
      
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
        <div class="modal-body">
          
          <br>
          <table class="table table-dark table-hover">
            <tr>
              <td> <strong>Type</strong> </td>
              <td> <strong>Vehicle</strong> </td>
            </tr>
            <tr>
              <td>1</td>
              <td>Car/SUV/Van</td>
              </tr><tr>
              <td>2</td>
              <td>Mini Bus</td></tr><tr>
              <td>3</td>
              <td>Truck (2 axels)</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Bus</td></tr><tr>
              <td>5</td>
              <td>Truck (>2 axel)</td></tr><tr>
              <td>6</td>
              <td>Crane/multi axel vehicles</td>
            </tr>
          </table>
          
      
          <br>

        </div>

      </div>
    </div>
  </div>








  <div class="modal fade" id="addtolldatamodal" tabindex="-1" role="dialog" aria-labelledby="Add" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel" >Add Toll Booth Data</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
        <div class="modal-body">

         
<form name="form" class="form" >
    <div class="form-group">
      <label for="name">Code   :</label>
      <input type="number" ng-readonly="idReadOnly" ng-keyup="validatecode()"  class="form-control" id="id" placeholder="Enter Toll Code" name="id" ng-model="id" >

    </div>

<div class="form-group">
  <label for="name">Toll Type1:</label>
  <input type="number" class="form-control" id="type1" placeholder="Type 1 Toll"  ng-keyup="validateToll1()" name="clas" ng-model="type1" >
</div>

<div class="form-group">
    <label for="name">Toll Type2:</label>
    <input type="number" class="form-control" id="type2" placeholder="Type 2 Toll"  ng-keyup="validateToll1()" name="clas" ng-model="type2" >
  </div>
  
<div class="form-group">
    <label for="name">Toll Type3:</label>
    <input type="number" class="form-control" id="type3" placeholder="Type 3 Toll"  ng-keyup="validateToll1()" name="clas" ng-model="type3" >
  </div>
  
<div class="form-group">
    <label for="name">Toll Type4:</label>
    <input type="number" class="form-control" id="type4" placeholder="Type 4 Toll" ng-keyup="validateToll1()" name="clas" ng-model="type4" >
  </div>
  
<div class="form-group">
    <label for="name">Toll Type5:</label>
    <input type="number" class="form-control" id="type5" placeholder="Type 5 Toll"  ng-keyup="validateToll1()" name="clas" ng-model="type5" >
  </div>
  
<div class="form-group">
    <label for="name">Toll Type6:</label>
    <input type="number" class="form-control" id="type6" placeholder="Type 6 Toll"  ng-keyup="validateToll1()" name="clas" ng-model="type6" >
  </div>



    <div class="form-group">
      <label for="name">Toll Type1 Return:</label>
      <input type="number" class="form-control" id="type1" placeholder="Type 1 Toll"  ng-keyup="validateToll1()" name="clas" ng-model="typer1" >
    </div>
    
    <div class="form-group">
        <label for="name">Toll Type2 Return:</label>
        <input type="number" class="form-control" id="type2" placeholder="Type 2 Toll"  ng-keyup="validateToll1()" name="clas" ng-model="typer2" >
      </div>
      
    <div class="form-group">
        <label for="name">Toll Type3 Return:</label>
        <input type="number" class="form-control" id="type3" placeholder="Type 3 Toll"  ng-keyup="validateToll1()" name="clas" ng-model="typer3" >
      </div>
      
    <div class="form-group">
        <label for="name">Toll Type4 Return:</label>
        <input type="number" class="form-control" id="type4" placeholder="Type 4 Toll" ng-keyup="validateToll1()" name="clas" ng-model="typer4" >
      </div>
      
    <div class="form-group">
        <label for="name">Toll Type5 Return:</label>
        <input type="number" class="form-control" id="type5" placeholder="Type 5 Toll"  ng-keyup="validateToll1()" name="clas" ng-model="typer5" >
      </div>
      
    <div class="form-group">
        <label for="name">Toll Type6 Return:</label>
        <input type="number" class="form-control" id="type6" placeholder="Type 6 Toll"  ng-keyup="validateToll1()" name="clas" ng-model="typer6" >
      </div>
    

<span ng-show="invalidcode">
    Toll Code already in use<br></span>

<span ng-show="invalidtoll">
    The value of toll must not be negative!<br></span>

    <button type="submit" class="btn btn-outline-primary"  data-dismiss="modal" ng-Click="addtolldata()" ng-disabled="invalidtoll || invalidcode">Add</button>
    
    <button type="submit" class="btn btn-outline-primary" ng-Click="reset()" >Reset</button>
   



    
</form>
        </div>
      </div>
    </div>
  </div>

















  <div class="modal fade" id="deleteConfirmation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel" >Delete ?</h4>
      
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
        <div class="modal-body">
            Deletion will delete both one side and return data 
            <br>
            Are you Sure you want to delete Toll Booth with Number id as {{id}}
        </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-Click="terminateDelete()">No</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-Click="delete(id)">Yes</button>
      </div>
      </div>
    </div>
  </div>


</div>
</div>

</body>
</html>